section.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
section.search .search.small {
    min-height: 128px;
}
div{
    display: block;
}

section.search .search .group-1 {
    height: 50px;
    position: relative;
    margin: 40px 0;
}

section.search .search .group-1 select,
section.search .search .group-1 button {
    display: inline-block;
}

section.search .search .group-1 select {
    height: 50px;
    background-color: #fff;
    text-indent: 10px;
    color: #b4b5b6;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* remove default arrow */
    background-image: url(../../../../assets/arrow.png);
    /* add custom arrow */
    background-repeat: no-repeat;
    border: 1px solid #fff;
    padding-left: 10px;
}

section.search .search .group-1 select:hover {
    color: #1d1d1d;
}

section.search .search .group-1 select:active {
    color: #1d1d1d;
}

section.search .search .group-1 select:focus {
    color: #1d1d1d;
}

section.search .search .group-1 select option {

    padding: 18px 19px 19px 20px;
    margin: 18px auto 20px 20px;
}
section.search .search .group-1 #Type {
    width: 200px;
    border-radius: 5px 0 0 5px;
    background-position: center right 20px;
    border-right: 1px solid #d4d4d4;
}

section.search .search .group-1 #Special {
    width: 295px;
    background-position: center right 20px;
    border-right: 1px solid #d4d4d4;
    border-radius: 0;
}

section.search .search .group-1 #Special.Active {
    display: none;
}

section.search .search .group-1 #SpecialService {
    width: 295px;
    background-position: center right 20px;
    border-right: 1px solid #d4d4d4;
    border-radius: 0;
}

section.search .search .group-1 #SpecialService.Active {
    display: none;
}

section.search .search .group-1 #Location {
    width: 295px;
    background-position: center right 20px;
    border-radius: 0;
}

section.search .search .group-1 #Location.Active {
    display: none;
}

section.search .search .group-1 .search__button {
    height: 50px;
    width: 166px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #dc4593;
    background-color: #dc4593;
    position: relative;
    top: -2px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

section.search .search .group-1 .search__button i {
    margin-left: 15px;
    font-style: inherit;
}


